@using BLL.Interfaces;
@inject IUserService userService

<div class="row">
    <div class="col-md-4">
        <img src="data:image/*;base64,@(Convert.ToBase64String(userService.GetCurrentUser(User).ProfilePicture))" style="width:600px;height:600px;" class="figure-img img-fluid rounded" alt="...">
        <a class="btn btn-primary"  asp-action="Reviews" asp-controller="User" asp-route-ProductId="@userService.GetCurrentUser(User).Id">See all @userService.GetCurrentUser(User).UserNick reviews</a>
    </div>
    <div class="col-md-8">
        <div class="bg-light rounded-3">
            <div class="">
                <h1>@userService.GetCurrentUser(User).UserNick</h1>
                <p><b>Id</b> : @userService.GetCurrentUser(User).Id</p>
                <p><b>Roles</b> : </p>
                <p><b>Reviews</b> : 1</p>
            </div>
        </div>
        <div class="border border-2 rounded-3">
            <img src="data:image/*;base64,@(Convert.ToBase64String(userService.GetCurrentUser(User).ProfilePicture))" alt="CG" width="32" height="32" class="rounded-circle">
            <a class="text-decoration-none">@userService.GetCurrentUser(User).UserNick </a>:
            <p>Review for : <a class="text-decoration-none">Knockin’ On Heaven’s Door</a></p>

            <div><label class="btn btn-lg btn-secondary" for="">10/10</label></div>

            <div class="border border-3" style="min-height:200px;">
                Pellentesque faucibus accumsan auctor. Maecenas porttitor, sem eu finibus auctor, purus ex maximus orci, eu gravida nisl turpis sed magna. Quisque iaculis elit justo, placerat porta nulla dapibus eget. Nam suscipit risus quis magna maximus vehicula. Aenean interdum risus nec posuere imperdiet. Mauris non nisi quam. Suspendisse potenti. Nullam suscipit dictum velit, fermentum porttitor est maximus vel. Nunc imperdiet dignissim fermentum. Nulla vehicula ex at lacus porta sollicitudin id eget felis. In sit amet nulla nec nisl venenatis rhoncus et ut sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque finibus urna non luctus rhoncus.
                Ut quam lacus, iaculis eu diam eget, mattis convallis nulla. Suspendisse vestibulum pretium odio, sit amet varius sem dapibus a. Phasellus sit amet magna sed nibh convallis ultrices nec id ipsum. Vivamus ut vehicula orci. Integer condimentum tellus sed enim hendrerit placerat. Nam vel congue magna, in auctor sapien. Phasellus elementum lectus mi, at mollis massa sodales at. Donec mollis, mi et vulputate pharetra, leo felis porttitor eros, sit amet euismod ligula felis eu felis. Nullam efficitur elementum dictum. Vivamus est neque, vehicula vel ornare non, finibus nec nunc.
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn-primary me-2">Like</button>
                <span class="text-success">0</span>
                <span class="text-danger">0</span>
                <button type="submit" class="btn-danger">Dislike</button>
            </div>
        </div>
    </div>
</div>