@using BLL.Interfaces;
@model FilterPageModel<ProductModel, FilterModel>
@inject IProductService productSrevice

<div class="row">
    <div class="col-md-4">

        <form method="get" asp-action="Category" asp-controller="Product" asp-route-CatId="@ViewBag.CatId">
            <div class="card">
                <input name="CatId" type="hidden" value="@ViewBag.CatId" />
                <article class="card-group-item">
                    <header class="card-header">
                        <h6 class="title">Choose subcategories</h6>
                    </header>
                    <div class="filter-content">
                        <div class="card-body">
                            @foreach (var subCategory in Model.Filter.SubCategory)
                            {
                                <label class="form-check">
                                    <input type="hidden" asp-for="@subCategory.Id" />
                                    <input type="hidden" asp-for="@subCategory.Name" />
                                    <input name="SubCategory" asp-for="@subCategory.Selected" class="form-check-input" />
                                    <label class="form-check-label" asp-for="@subCategory.Selected">
                                        @subCategory.Name
                                    </label>
                                </label>
                            }
                        </div>
                    </div>
                </article>

                <article class="card-group-item">
                    <header class="card-header">
                        <h6 class="title">Choose country</h6>
                    </header>
                    <div class="filter-content">
                        <div class="card-body">

                            @foreach (var Country in Model.Filter.Country)
                            {
                                <label class="form-check">
                                    <input type="hidden" asp-for="@Country.Id" />
                                    <input type="hidden" asp-for="@Country.Name" />
                                    <input name="Country" asp-for="@Country.Selected" class="form-check-input" />
                                    <label class="form-check-label" asp-for="@Country.Selected">
                                        @Country.Name
                                    </label>
                                </label>
                            }

                        </div>
                    </div>
                </article>

                <article class="card-group-item">
                    <header class="card-header">
                        <h6 class="title">Choose year </h6>
                    </header>
                    <div class="filter-content">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col">
                                    <input name="minYear" asp-for="Filter.minYear" type="text" class="form-control" placeholder="From">
                                </div>
                                <div class="col">
                                    <input name="maxYear" asp-for="Filter.maxYear" type="text" class="form-control" placeholder="To">
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="card-group-item">
                    <header class="card-header">
                        <h6 class="title">Choose rating </h6>
                    </header>
                    <div class="filter-content">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col">
                                    <input name="minRating" asp-for="Filter.minRating" type="text" class="form-control" placeholder="From">
                                </div>
                                <div class="col">
                                    <input name="maxRating" asp-for="Filter.maxRating" type="text" class="form-control" placeholder="To">
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <button type="submit" class="btn btn-primary btn-block">Filter</button>
            </div>
        </form>


    </div>
    <div class="col-md-8">

        @foreach (var product in Model.Items)
        {
            <div class="row g-0 border border-secondary border-3 position-relative">
                <div class="col-md-3 mb-md-0 p-md-4">
                    <img src="data:image/*;base64,@(Convert.ToBase64String(product.ProductPicture))" style="width:200px;height:200px;" class="figure-img img-fluid rounded" alt="...">
                </div>
                <div class="col-md-6 p-4 ps-md-0">
                    <h5 class="mt-0">@product.Name</h5>
                    <p>
                        <b> User Rating:</b> @product.UserRating / 100
                    </p>
                    <p>
                        <b>Critic Rating:</b> @product.CriticRating / 100
                    </p>
                    <p>
                        <b>Common Rating:</b> @product.CommonRating / 100
                    </p>
                    <p>
                        <div class="text-truncate-container">@product.Description</div>
                    </p>
                    <a class="stretched-link" asp-action="Product" asp-controller="Product" asp-route-id="@product.Id">More details...</a>
                </div>
            </div>
        }
    </div>
</div>
@if (Model.PageModel.HasPreviousPage)
{
    <a class="btn btn-primary" asp-controller="Product" asp-route-Type="Category" asp-route-CatId="@ViewBag.CatId" asp-route-page="@(Model.PageModel.PageNumber-1)" asp-route-filter="@ViewBag.Filter">Previous Page</a>
}
@if (Model.PageModel.HasNextPage)
{
    <a class="btn btn-primary" asp-controller="Product" asp-route-Type="Category" asp-route-CatId="@ViewBag.CatId" asp-route-page="@(Model.PageModel.PageNumber+1)" asp-route-filter="@ViewBag.Filter">Next Page</a>
}

