@model ItemsPageModel<ProductModel>

<h1 class="display-4">Products Manager</h1>
<form method="get" asp-area="" asp-controller="Product" asp-action="Products">
    <div class="input-group">
        <input name="CatName" class="form-control w-25">
        <span class="input-group-btn">
            <button class="btn btn-primary">Find product</button>
        </span>
    </div>
</form>
<br />
<div class="btn-group">
    <a class="btn btn-primary" asp-area="" asp-controller="Product" asp-action="NewProduct">New Product</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Product" asp-action="Products">Reset Search</a>
</div>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Subcategories</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Items)
        {
            <tr>
                <td>
                    <a class="text-decoration-none" asp-area="" asp-controller="Product" asp-action="Product" asp-route-id="@product.Id">@product.Name</a>
                    <br />
                    <small>
                        Id: @product.Id
                    </small>
                </td>
                <td>
                    <div class="col-sm">
                        @product.Category.Name
                        <br />
                        <small>
                            Id: @product.Category.Id
                        </small>
                    </div>
                </td>
                <td>@string.Join(" , ",product.SubCategories.Select(sc=>sc.Name).ToList())</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-primary" asp-area="" asp-controller="Product" asp-action="ManageProduct" asp-route-id="@product.Id" >Manage Product</a>
                        <a class="btn btn-primary" asp-area="" asp-controller="Product" asp-action="ProductSubCat" asp-route-id="@product.Id" asp-route-CatId="@product.CategoryId">Manage SubCategories</a>
                        <a class="btn btn-danger" asp-area="" asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@product.Id">Delete Product</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @if (Model.PageModel.HasPreviousPage)
    {
        <a class="btn btn-primary" asp-area="" asp-controller="Product" asp-action="Products" asp-route-page="@(Model.PageModel.PageNumber-1)" asp-route-CatName="@ViewBag.product">Previous Page</a>
    }
    @if (Model.PageModel.HasNextPage)
    {
        <a class="btn btn-primary" asp-area="" asp-controller="Product" asp-action="Products" asp-route-page="@(Model.PageModel.PageNumber+1)" asp-route-CatName="@ViewBag.product">Next Page</a>
    }
</p>