@model ProductModel

<div class="row">
    <div class="col-md-4">
        <img src="data:image/*;base64,@(Convert.ToBase64String(Model.ProductPicture))" style="width:300px;height:400px;" class="figure-img img-fluid rounded" alt="...">
    </div>
    <div class="col-md-8">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Critic Raiting</h4>
                    </div>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                        @Model.CriticRating
                        <small class="text-muted fw-light">/10</small>
                    </h1>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Common Raiting</h4>
                    </div>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                        @Model.CommonRating
                        <small class="text-muted fw-light">/10</small>
                    </h1>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">User Raiting</h4>
                    </div>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                        @Model.UserRating
                        <small class="text-muted fw-light">/10</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="bg-light rounded-3">
            <div class="">
                <h1>@Model.Name</h1>
                <p>@Model.Description</p>
            </div>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(Model.YouTubeLink))
    {
        <div class="ratio ratio-16x9">
            <iframe src="@Model.YouTubeLink" title="YouTube video" allowfullscreen></iframe>
        </div>
    }

    @if (User.Identity.IsAuthenticated)
    {
        <div class="bg-light rounded-3">
            <form method="post" asp-action="NewRewiew" asp-controller="User">
                <h1>Write your review</h1>
                <div class="btn-group">
                    @for (int i = 1; i <= 10; i++)
                    {
                        <input type="radio" class="btn-check" name="Rating" id="@i" value="@i">
                        <label class="btn btn-lg btn-outline-primary" for="@i">@i</label>
                    }
                </div>
                <br />
                <textarea name="Review" class="form-control" rows="10"></textarea>
                <br/>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn-primary btn-lg">Create review</button>
                </div>
            </form>
        </div>
    }

</div>