@using BLL.Interfaces
@model ItemWithReviewModel<ProductModel>
@inject IUserService userService

<div class="row">
    <div class="col-md-4">
        <img src="data:image/*;base64,@(Convert.ToBase64String(Model.Item.ProductPicture))" style="width:300px;height:400px;" class="figure-img img-fluid rounded" alt="...">
        <a class="btn btn-primary" style="width:300px;" asp-action="Reviews" asp-controller="Product" asp-route-ProductId="@Model.Item.Id">See product reviews</a>
    </div>
    <div class="col-md-8">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Critic Raiting</h4>
                    </div>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                        @Model.Item.CriticRating
                        <small class="text-muted fw-light">/100</small>
                    </h1>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Common Raiting</h4>
                    </div>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                        @Model.Item.CommonRating
                        <small class="text-muted fw-light">/100</small>
                    </h1>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">User Raiting</h4>
                    </div>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                        @Model.Item.UserRating
                        <small class="text-muted fw-light">/100</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="bg-light rounded-3">
            <div class="">
                <h1>@Model.Item.Name</h1>
                <p><b>Country</b> : @Model.Item.Country</p>
                <p><b>Year</b> : @Model.Item.Year</p>
                <p><b>Category</b> : @Model.Item.Category.Name</p>
                <p>
                    <b>SubCategories</b> : @foreach (var subcat in Model.Item.SubCategories)
                    {
                        <a asp-action="" asp-controller="Product" asp-route-SabCatId="@subcat.Id">@subcat.Name, </a>
                    }
                </p>
                <p><b>Description</b>: @Model.Item.Description</p>
            </div>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(Model.Item.YouTubeLink))
    {
        <div class="ratio ratio-16x9">
            <iframe src="@Model.Item.YouTubeLink" title="YouTube video" allowfullscreen></iframe>
        </div>
    }

    @if (User.Identity.IsAuthenticated)
    {

        @if (Model.UserReview != null)
        {
            <div class="bg-light rounded-3">
                <form method="post" asp-action="UpdateRewiew" asp-controller="User" asp-route-ProdId="@Model.Item.Id">
                    <h1>Write your review</h1>
                    <div class="btn-group">
                        @for (int i = 1; i <= 10; i++)
                        {
                            <input asp-for="@Model.UserReview.Rating" type="radio" class="btn-check" id="@i" value="@i">
                            <label class="btn btn-lg btn-outline-primary" for="@i">@i</label>
                        }
                    </div>
                    <br />
                    <textarea asp-for="@Model.UserReview.ReviewDetails" class="form-control" rows="10"></textarea>
                    <br />
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="submit" class="btn-primary btn-lg">Create review</button>
                    </div>
                </form>
            </div>
        }
        else
        {
            <div class="bg-light rounded-3">
                <form method="post" asp-action="NewRewiew" asp-controller="User" asp-route-ProdId="@Model.Item.Id">
                    <h1>Write your review</h1>
                    <div class="btn-group">
                        @for (int i = 1; i <= 10; i++)
                        {
                            <input asp-for="@Model.UserReview.Rating" type="radio" class="btn-check" id="@i" value="@i">
                            <label class="btn btn-lg btn-outline-primary" for="@i">@i</label>
                        }
                    </div>
                    <br />
                    <textarea asp-for="@Model.UserReview.ReviewDetails" class="form-control" rows="10"></textarea>
                    <br />
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="submit" class="btn-primary btn-lg">Create review</button>
                    </div>
                </form>
            </div>
        }
    }
    <br />

    @foreach (var review in Model.Reviews)
    {
        <div class="border border-2 rounded-3">
            <img src="data:image/*;base64,@(Convert.ToBase64String(review.userData.ProfilePicture))" alt="CG" width="32" height="32" class="rounded-circle">
            <a class="text-decoration-none" asp-action="Profile" asp-controller="User" asp-route-id="@review.userData.Id">User @review.userData.UserNick </a>: @string.Join(" , ", review.userData.Roles.ToString())
            <div><label class="btn btn-lg btn-secondary">@review.Rating/10</label></div>

            <div class="border border-3" style="min-height:200px;">
                @review.Details
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn-primary me-2">Like</button>
                <span class="text-success">@review.Likes</span>
                <span class="text-danger">@review.DisLikes</span>
                <button type="submit" class="btn-danger">Dislike</button>
            </div>
        </div>
    }

</div>