@using BLL.Interfaces
@inject IUserService userService
@model ItemsPageModel<ReviewModel>

<section class="w-100 p-4 justify-content-center">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <a asp-action="Reviews" asp-controller="Product" asp-route-Type="All" asp-route-ProductId="@ViewBag.ProdId" class="btn btn-primary">All Reviews</a>
        </div>
        <div class="col-md-4 text-center">
            <a asp-action="Reviews" asp-controller="Product" asp-route-Type="Critic" asp-route-ProductId="@ViewBag.ProdId" class="btn btn-primary">Critic Reviews</a>
        </div>
        <div class="col-md-4 text-center">
            <a asp-action="Reviews" asp-controller="Product" asp-route-Type="Users" asp-route-ProductId="@ViewBag.ProdId" class="btn btn-primary">Users Reviews</a>
        </div>
    </div>
</section>
@foreach(var review in Model.Items)
{
     <div class="border border-2 rounded-3">
            <img src="data:image/*;base64,@(Convert.ToBase64String(review.userData.ProfilePicture))" alt="CG" width="32" height="32" class="rounded-circle">
            <a class="text-decoration-none" asp-action="Profile" asp-controller="User" asp-route-id="@review.userData.Id">@review.userData.UserNick </a>: @string.Join(" , ", review.userData.Roles.ToList())
            <div><label class="btn btn-lg btn-secondary">@review.Rating/10</label></div>

            <div class="border border-3" style="min-height:200px;">
                @review.Details
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn-primary me-2">Like</button>
                <span class="text-success">@review.Likes</span>
                <span class="text-danger">@review.DisLikes</span>
                <button type="submit" class="btn-danger">Dislike</button>
            </div>
        </div>
}

<p>
    @if (Model.PageModel.HasPreviousPage)
    {
        <a class="btn btn-primary" asp-controller="Product" asp-action="Reviews" asp-route-ProductId="@ViewBag.ProdId" asp-route-page="@(Model.PageModel.PageNumber-1)" asp-route-Type="@ViewBag.Type">Previous Page</a>
    }
    @if (Model.PageModel.HasNextPage)
    {
        <a class="btn btn-primary" asp-controller="Product" asp-action="Reviews" asp-route-ProductId="@ViewBag.ProdId" asp-route-page="@(Model.PageModel.PageNumber+1)" asp-route-Type="@ViewBag.Type">Next Page</a>
    }
</p>